<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="arrow">
    <ion-icon (click)="doWelcome()" name="arrow-back-sharp"></ion-icon>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
      <ion-button color="success" (click)="doTransaction()">Buy</ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
