<ion-header>
  <ion-toolbar>
    <ion-title>
      <div id="containerprofile">
         Welcome To Bookstore{{ form.username }}
        <ion-icon slot="end"></ion-icon>
      </div>
    </ion-title>
    <div class="cart">  
      <ion-tab-button  (click)="doLogout()" tab="power">
      <ion-icon name="power"></ion-icon>
      <!-- Logout -->
    </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <div class="topic">
    Recommendation
  </div>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card >
          <ion-thumbnail>
              <img src="assets/image/onepiece.jpg">
            </ion-thumbnail>
            <ion-label (click)="doItem()" class="ion-text-wrap ion-text-center">ONEPIECE</ion-label>
          </ion-card>
        </ion-col>
        
        <ion-col size="3">
          <ion-card class="grid2">
            <ion-thumbnail>
                <img src="assets/image/onepiece.jpg">
              </ion-thumbnail>
              <ion-label class="ion-text-wrap ion-text-center" >ONEPIECE</ion-label>
            </ion-card>
          </ion-col>

          <ion-col size="3">
            <ion-card class="grid3">
              <ion-thumbnail>
                  <img src="assets/image/onepiece.jpg">
                </ion-thumbnail>
                <ion-label class="ion-text-wrap ion-text-center" >ONEPIECE</ion-label>
              </ion-card>
            </ion-col>
      </ion-row>
  </ion-grid> -->

  <div class="topic2">
    Best Comic
  </div>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
              <img src="assets/image/onepiece.jpg">
            </ion-thumbnail>
            <ion-label class="ion-text-wrap ion-text-center" >ONEPIECE</ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="3">
          <ion-card class="grid4">
            <ion-thumbnail>
                <img src="assets/image/onepiece.jpg">
              </ion-thumbnail>
              <ion-label class="ion-text-wrap ion-text-center" >ONEPIECE</ion-label>
            </ion-card>
          </ion-col>

          <ion-col size="3">
            <ion-card class="grid5">
              <ion-thumbnail>
                  <img src="assets/image/onepiece.jpg">
                </ion-thumbnail>
                <ion-label class="ion-text-wrap ion-text-center" >ONEPIECE</ion-label>
              </ion-card>
            </ion-col>

      </ion-row>
  </ion-grid> -->

  <div class="topic3">
    Best Rommance
  </div>

   <!-- <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
              <img src="assets/image/onepiece.jpg">
            </ion-thumbnail>
            <ion-label class="ion-text-wrap ion-text-center" >ONEPIECE</ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="3">
          <ion-card class="grid6">
            <ion-thumbnail>
                <img src="assets/image/onepiece.jpg">
              </ion-thumbnail>
              <ion-label class="ion-text-wrap ion-text-center" >ONEPIECE</ion-label>
            </ion-card>
          </ion-col>

          <ion-col size="3">
            <ion-card class="grid7">
              <ion-thumbnail>
                  <img src="assets/image/onepiece.jpg">
                </ion-thumbnail>
                <ion-label class="ion-text-wrap ion-text-center" >ONEPIECE</ion-label>
              </ion-card>
            </ion-col>

      </ion-row>
  </ion-grid> -->




