<ion-header>
  <ion-toolbar color="white">
    <ion-searchbar
      [animated]="true"
      debounce="800"
      #searchInput
      placeholder="Search for Any Books"
      (ionChange)="onSearchChange($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Books Genre</ion-title>
        <ion-menu-toggle>
          <ion-icon class="close" name="close"></ion-icon>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
  
<!--Comic -->
<ion-list>
  <ion-item>
    <ion-label>Comic</ion-label>
    <ion-icon (click)="doComic()" name="eye"></ion-icon>
  </ion-item>
</ion-list>

<!--Politic-->
<ion-list>
  <ion-item>
    <ion-label>Politic</ion-label>
    <ion-icon (click)="doPolitic()" name="eye"></ion-icon>
  </ion-item>
</ion-list>

<!--Cartoon-->
<ion-list>
  <ion-item>
    <ion-label>Cartoon</ion-label>
    <ion-icon (click)="doCartoon()" name="eye"></ion-icon>
  </ion-item>
</ion-list>



    </ion-content>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-button>Click</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </div>
</ion-content>